/* 

    Document Info: 

*/

   
/*help with the Nav */
    .bg-black {
        background-color: black;
    }

    .background-img {
        background-image: linear-gradient(orange, black);
    }

/* Main Top Image */
    .adam-image-big {
        width: 100%;
    }
    #big-image-div {
        margin-top: 40px;
    }
    .adam-image {
        width: 100%;
        border: 3px solid grey;
        border-radius: 5px;
        margin: 5px auto;
    }/* End big picture */


/* Portfolio Section */
    .grid-container-adam {
        background-color: lightgrey;
        margin: 5px auto;
        border-radius: 5px;
        padding: 5px;
    }
    .adam-text {
        border-radius: 50%;
        padding: 30px;
        text-align: center;
    }
    .image-item1 {
        grid-area: c1;
        margin-top: 10px;
    }
    .image-item2 {
        grid-area: b2;
    }
    .image-item3 {
        grid-area: b3;
    }
    .image-item4 {
        grid-area: a1;
    }
    .adam-special-border {
        border-radius: 30%;
        border: none;
    }
    .image-item5 {
        grid-area: b1;
        background-color: rgb(146, 146, 230);
    }
    .image-item6 {
        grid-area: a3;
        background-color: lightcyan;
    }
    
    .adam-item1 {
        grid-area: header;
        background-color: darkslategrey;
        border-radius: 3px;
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
        color: whitesmoke;
        border: 2px solid black;
    }
    .circle-text {
        text-align: center;
        margin: auto;
        max-width: 80%;
    }
/* End of Portfolio image section */

.slideshow-container {
    display: none;
}

.only-for-desk {
    display: none;
}

.statement {
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}





@media  screen and (min-width: 901px) {
    .only-for-desk {
        display: block;
    }

    .statement {
        display: none;
    }
/* Desktop Styling for the images */
.grid-container-adam {
    display: grid;
    grid-template-areas: 
    'header header header'
    'a1 b2 a3'
    'b1 b2 b3'
    'c1 c1 b3';

    gap: 15px;
    background-color: lightgrey;
    margin: 20px 20px;
    border-radius: 5px;
    border: 2px solid darkgrey;
    padding: 20px;
}






    /* Begin Styling for the Slideshow! */
* {box-sizing:border-box}
/* This is a risky command because it was added in after the rest of the site 
             was completed. It is a useful tool but might mess up things since it was 
             part of the design from the beginning */

/* Slideshow container */
.slideshow-container {
display: block;
max-width: 1000px;
position: relative;
margin: auto;
background-color: lightgrey;
border-radius: 5px;
}

.slide-sizing {
width: 80%;
text-align: center;
margin: auto;
border-radius: 5px;


}
.nice {
width: 80%;
background-color: #bdbdbd;
margin: auto;
padding: 10px;
border-radius: 5px;
}
.nice2 {
width: 80%;
background-color: skyblue;
margin: auto;
border: 2px solid grey;
padding: 15px;
}

.food-size {
max-height: 450px;
width: auto;
padding: 10px ;

}

.slideshow-text-section {

}

/* Hide the images by default */
.mySlides {
display: none;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade1 {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

/* Calculator Styling */
    #calculator {
        background-color: lightgrey;
        border-radius: 5px;
        margin: 30px auto;
        width: 20%;
        padding: 10px;
        border: 2px solid darkgrey;
    }
    #grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        background-color: lightgrey;
        margin:0px auto;
        width: 90%;
        height: 400px;
        
    }
    .btn-grid {
        border: none;
        text-align: center;
        align-content: center;
        font-size: 1.2em;
        max-width: 50px;
        height:2.2em;
        margin:auto;
        width: 6em;
        border-radius: 5px;
        box-shadow: 2px 2px 0px grey;
    }
    #screen {
        background-color: #f2f2f2;
        width: 90%;
        margin: auto;
        height: 3em;
        text-align: right;
        border-radius: 3px;
        padding: 5px 5px;
    }
    #enter {
        padding: 0px;
        background-color: blue;
        border: none;
        color: white;
        border-radius: 5px;
        max-width: 150px;
        width: 5em;
        grid-column: 3 / 5;
    }
    
    
    
   
}


