/*
	Document Info:


*/


body {
	margin: 0;
}
main {
	background-color: rgb(255, 255, 255);
	padding-left: 55px;
	padding-right: 55px;
}

.bg-black {
	background-color: black;
}

.background-img {
	background-image: linear-gradient(rgb(255, 255, 255), black);
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	padding-top: 65px;
}

/*
.nav-item:hover {
	background-color: aliceblue;
}

/* DUI Styling */


/*Call to Action Styling*/
.impmessage {
	color: white;
	padding: 10%;
	margin: 0 0 5%;
	background-image: url('/Final/images/dui1.jpeg');
	text-align: center;
	background-size: cover;
}

.impmessage h1,h2 {
	font-size: 1.5em;
}

.impmessage button {
	border-radius: 5px;
	background-color: grey;
}


/* Beneftis Styling*/

.benefits{
	text-align: center;
	color: black;
}

.benefits h2 {
	font-size: 1.75em;
}

.benefits ul{
	padding: 0;
	list-style-position: inside;
}


/* Steps Styling */

.steps {
	text-align: center;
	color: black;
	margin: 5% 0 0;
}

.steps .odd {
	color: white;
}

.step{
	padding: 2%;
}

.step h2 {
	font-size: 1.75em;
}

.step h3 {
	font-size: 1.5em;
	margin: 2%;
	padding: 2%;
}

.step img {
	border-radius: 75%;
	max-width: 50%;
}

/* Phrase Styling*/

.phrase {
	color: white;
	text-align: center;
	padding: 2%;
	margin: 5% 0 0;
}

.phrase h3 {
	font-size: 1.5em;
}

footer {
	background-color: #EBECF0;
	margin-top: auto;
}
/* Contact Page Styling */
	.contact-page {
		background-color: #f5f2e9;
	}

	.map {
		border: 2px solid grey;
		border-radius: 5px;
		margin: 10px auto;
		width: 80%;
		max-width: 600px;
	}
	.contact-page-text {
		max-width: 600px;
		margin: auto;
	}
	#contact {
		display: block;
		text-align: center;
		margin: 100px auto;		
	}
	.contact-highlight {
		width: 50%;
		border-radius: 4px;
		border: 1px solid #e3e5e8;
		box-shadow: 2px 2px 4px brown;
	}
	.contact-highlight:hover {
		transform: translateY(-10px);
		box-shadow: 20px 20px 10px brown;
	}

/* End Contact Page styling */

/* Footer Styling */
	.fa {
		width: 40px;
		height: 40px;
		text-align: center;
		padding: 6px 0;
		border-radius: 50%;
	}

	.fa-twitter {
		background-color: #55ACEE;
		color: white;
	}
	.fa-facebook {
		background: #3B5998;
		color: white;
	}
	.fa-youtube {
	background: #bb0000;
	color: white;
	}
/* End Footer Styling */

/* Media Query styling */
	/* Tablet View port */
	@media screen and (min-width: 480px) {

	}

	/* Desktop View Port */
	@media screen and (min-width: 901px) {
		/*.map {
			width: 50%;
			height: 100%;
		}*/	
		/*Media Queries for DUI*/
		.impmessage button {
			font-size: 1.5em;
		}

		.impmessage button:hover{
			background-color: olive;
		}

		.impmessage h1,h2 {
			font-size: 3em;
		}

		.benefits h2 {
			font-size: 2.5em;
			margin: 2%;
		}

		.benefits ul li {
			font-size: 1.5em;
		}

		.phrase h3 {
			font-size: 2.5em;
		}

		.steps {
			margin: 2%;
		}

		.grid-this {
			display: grid;
			grid-template-columns: auto auto auto;
			padding: 2%;
		}

		
	}

	

/* End Media Query Styling */



/* Adam's Page */
	/* Calculator Styling */
	#calculator {
		background-color: lightgrey;
		border-radius: 5px;
		margin: 30px auto;
		width: 20%;
		padding: 10px;
		border: 2px solid darkgrey;
	}

	#grid-container {
		display: grid;
		grid-template-columns: auto auto auto auto;
		background-color: lightgrey;
		margin:0px auto;
		width: 90%;
		height: 400px;
		
	}
	.btn-grid {
		text-align: center;
		align-content: center;
		font-size: 1.2em;
		max-width: 50px;
		height:2.2em;
		margin:auto;
		width: 6em;
	}

	#screen {
		background-color: #f2f2f2;
		width: 90%;
		margin: auto;
		height: 3em;
		text-align: right;
		border-radius: 3px;
		padding: 5px 5px;


	}

	#enter {
		padding: 0px;
		background-color: blue;
		border: 2px solid lightgrey;
		border-bottom: 2px solid grey;
		color: white;
		border-radius: 5px;
		max-width: 150px;
		width: 5em;
		grid-column: 3 / 5;
	}