/*
	Document Info:


*/



.bg-black {
	background-color: black;
}

.background-img {
	background-image: linear-gradient(orange, black);
}


/* Contact Page Styling */
	.contact-page {
		background-color: #f5f2e9;
	}

	.map {
		border: 2px solid grey;
		border-radius: 5px;
		margin: 10px auto;
		width: 80%;
		max-width: 600px;
	}
	.contact-page-text {
		max-width: 600px;
		margin: auto;
	}
	#contact {
		display: block;
		text-align: center;
		margin: 100px auto;		
	}
	.contact-highlight {
		width: 50%;
		border-radius: 4px;
		border: 1px solid #e3e5e8;
		box-shadow: 2px 2px 4px brown;
	}
	
/* End Contact Page styling */

/* Footer Styling */
	.fa {
		width: 40px;
		height: 40px;
		text-align: center;
		padding: 6px 0;
		border-radius: 50%;
	}

	.fa-twitter {
		background-color: #55ACEE;
		color: white;
	}
	.fa-facebook {
		background: #3B5998;
		color: white;
	}
	.fa-youtube {
	background: #bb0000;
	color: white;
	}
/* End Footer Styling */

/* Mobile Styling for Form */
	textarea {
		width: 70%;
	}
	#form-be-grey {
		background-color: lightgrey;
		border: 2px solid black;
		border-radius: 5px;
		width: 80%;
		margin: 10px auto;
	}
	.fieldsets {
		border: 1px solid black;
		padding-left: 10px;
	}
	#make-the-box-center {
		text-align: center;	
	}
	#text-area {
		background-color: #ededed;
	}
	#submit-button {
		margin: 10px;
	}
	.fieldsets2 label {
		padding-top: 5px;
		margin-top: 5px;
	}
	#input-section {
		
		padding: 15px;
		margin: 10px auto;
	}
	.last-item-form {
		margin-bottom: 10px;
	}
/* End Mobile Styling for Form */


/* Media Query styling */
	/* Tablet View port */
	@media screen and (min-width: 480px) {

	}

	/* Desktop View Port */
	@media screen and (min-width: 901px) {
		.map {
			width: 50%;
			height: 100%;
		}	
	/* Contact Page desktop styling */
		.contact-highlight:hover {
			transform: translateY(-10px);
			box-shadow: 20px 20px 10px brown;
		}
	/* End Contact Page Desktop Styling */
	
	/* Desktop index Form */
		#input-section {
			display: grid;
			grid-template-columns: auto auto auto;
			
		}
	/*End Desktop index Form */
	}

	










/* End Media Query Styling */



/* Adam's Page */
	/* image styling */
	.adam-image-big {
		width: 100%;
	}
	.adam-image {
		width: 10%;
	}


	/* Calculator Styling */
	#calculator {
		background-color: lightgrey;
		border-radius: 5px;
		margin: 30px auto;
		width: 20%;
		padding: 10px;
		border: 2px solid darkgrey;
	}

	#grid-container {
		display: grid;
		grid-template-columns: auto auto auto auto;
		background-color: lightgrey;
		margin:0px auto;
		width: 90%;
		height: 400px;
		
	}
	.btn-grid {
		text-align: center;
		align-content: center;
		font-size: 1.2em;
		max-width: 50px;
		height:2.2em;
		margin:auto;
		width: 6em;
	}

	#screen {
		background-color: #f2f2f2;
		width: 90%;
		margin: auto;
		height: 3em;
		text-align: right;
		border-radius: 3px;
		padding: 5px 5px;


	}

	#enter {
		padding: 0px;
		background-color: blue;
		border: 2px solid lightgrey;
		border-bottom: 2px solid grey;
		color: white;
		border-radius: 5px;
		max-width: 150px;
		width: 5em;
		grid-column: 3 / 5;
	}