/*
	Document Info:


*/


main {
	background-color: rgb(255, 255, 255);
	padding-left: 55px;
	padding-right: 55px;
}
.bg-black {
	background-color: black;
}

.background-img {
	background-image: linear-gradient(rgb(255, 255, 255), black);
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	padding-top: 65px;
  margin: 0;
}

/*
.nav-item:hover {
	background-color: aliceblue;
}

/* DUI Styling */


/*Call to Action Styling*/
.impmessage {
	color: white;
	padding: 10%;
	margin: 0 0 5%;
	background-image: url('/Final/images/dui1.jpeg');
	text-align: center;
	background-size: cover;
}

.impmessage h1,h2 {
	font-size: 1.5em;
}

.impmessage button {
	border-radius: 5px;
	background-color: grey;
}


/* Beneftis Styling*/

.benefits{
	text-align: center;
	color: black;
}

.benefits h2 {
	font-size: 1.75em;
}

.benefits ul{
	padding: 0;
	list-style-position: inside;
}


/* Steps Styling */

.steps {
	text-align: center;
	color: black;
	margin: 5% 0 0;
}

.steps .odd {
	color: white;
}

.step{
	padding: 2%;
}

.step h2 {
	font-size: 1.75em;
}

.step h3 {
	font-size: 1.5em;
	margin: 2%;
	padding: 2%;
}

.step img {
	border-radius: 75%;
	max-width: 50%;
}

/* Phrase Styling*/

.phrase {
	color: white;
	text-align: center;
	padding: 2%;
	margin: 5% 0 0;
}

.phrase h3 {
	font-size: 1.5em;
}

footer {
	background-color: #EBECF0;
	margin-top: auto;
}
/* Contact Page Styling */
	.contact-page {
		background-color: #f5f2e9;
	}
	.map {
		border: 2px solid grey;
		border-radius: 5px;
		margin: 10px auto;
		width: 80%;
		max-width: 600px;
	}
	.contact-page-text {
		max-width: 600px;
		margin: auto;
	}
	#contact {
		display: block;
		text-align: center;
		margin: 100px auto;		
	}
	.contact-highlight {
		width: 50%;
		border-radius: 4px;
		border: 1px solid #e3e5e8;
		box-shadow: 2px 2px 4px brown;
	}/* End Contact Page styling */


/* Footer Styling */
	.fa {
		width: 40px;
		height: 40px;
		text-align: center;
		padding: 6px 0;
		border-radius: 50%;
	}
	.fa-twitter {
		background-color: #55ACEE;
		color: white;
	}
	.fa-facebook {
		background: #3B5998;
		color: white;
	}
	.fa-youtube {
	background: #bb0000;
	color: white;
	}/* End Footer Styling */
/* Mobile Styling for Form */
	textarea {
		width: 70%;
	}
	#form-be-grey {
		background-color: lightgrey;
		border: 2px solid black;
		border-radius: 5px;
		width: 80%;
		margin: 10px auto;
	}
	.fieldsets {
		border: 1px solid black;
		padding-left: 10px;
	}
	#make-the-box-center {
		text-align: center;	
	}
	#text-area {
		background-color: #ededed;
	}
	#submit-button {
		margin: 10px;
	}
	.fieldsets2 label {
		padding-top: 5px;
		margin-top: 5px;
	}
	#input-section {
		
		padding: 15px;
		margin: 10px auto;
	}
	.last-item-form {
		margin-bottom: 10px;
	}/* End Mobile Styling for Form */

	/* Tablet View port */
		@media screen and (min-width: 480px) {
    
		}
	/* Desktop View Port */
	@media screen and (min-width: 901px) {
		.map {
				width: 50%;
				height: 100%;
			}	
		/* Contact Page desktop styling */
			.contact-highlight:hover {
				transform: translateY(-10px);
				box-shadow: 20px 20px 10px brown;
			}/* End Contact Page Desktop Styling */
		
		/* Desktop index Form */
			#input-section {
				display: grid;
				grid-template-columns: auto auto auto;
				
			}/*End Desktop index Form */
		/*Media Queries for DUI*/
		.impmessage button {
			font-size: 1.5em;
		}

		.impmessage button:hover{
			background-color: olive;
		}

		.impmessage h1,h2 {
			font-size: 3em;
		}

		.benefits h2 {
			font-size: 2.5em;
			margin: 2%;
		}

		.benefits ul li {
			font-size: 1.5em;
		}

		.phrase h3 {
			font-size: 2.5em;
		}

		.steps {
			margin: 2%;
		}

		.grid-this {
			display: grid;
			grid-template-columns: auto auto auto;
			padding: 2%;
		}

		
	}

	

/* End Media Query Styling */

